@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes shinyBorder {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.75);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.5);
  }
}

.animate-shiny-border {
  animation: shinyBorder 1.5s infinite ease-in-out;
}
